
.form-main{
    display: flex;
    width: 60vw;
    padding-top: 20px;
    flex-wrap: wrap;
    height: 30vw;
    max-width: 700px;
    padding: 30px;
    background-color:white;
    box-shadow: 10px 10px 5px  #CD853F;
    align-items: center;
    justify-content:space-around;
    overflow-y: scroll;
}

.view-rast{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}
.inputrs{
    display: flex;
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: flex;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.centerForm{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.form-not{
    display: flex;
    width: 100%;
    background-color: red;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

table {
    border-collapse: collapse;
    background-color: #e5e5e5;
    overflow: auto;
    display: inline-block; 
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #CD853F;
    color: white;
  }
.inputr{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-view{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    max-height: auto;
    align-items: center;
    justify-content:center;
    justify-items: center;
    overflow-y: scroll;

}

.bodyview{
    display: flex;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 900px) {
    .form-main{
        width: 80vw;
        height:  75vh;
    }


}

  @media screen and (max-width: 1100px) {
    .form-main{
        width: 70vw;
        height:  65vh;
    }
}

@media screen and (max-width: 1300px ) {
    .form-main{
        width: 90vw;
        height:  80vh;

    }

}


@media screen and (max-width: 520px)  {



    .form-main{
         overflow-y: scroll;
         padding: 20px;
    }

    .form-view{

        min-height: 80vh;
    }

}


  
    



