











.form-main{
    width: 60vw;
    height: 30vw;
    max-width: 700px;
    background-color:white;
    box-shadow: 10px 10px 5px  #CD853F;
}



@media screen and (max-width: 900px) {
    .form-main{
        width: 80vw;
        height:  70vh;
    }
}

  @media screen and (max-width: 1100px) {
    .form-main{
        width: 70vw;
        height:  60vh;
    }
}

@media screen and (max-width: 1300px) {
    .form-main{
        width: 90vw;
        height:  75vh;
    }
}












