*{
    padding: 0;
    margin: 0;
}



.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 30px; /* Location of the content container */
}
/* Modal content */
.modal-content {
    display: flex;
    background-color:white;
    width: 50%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    min-height: 40%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    /* flex-wrap: wrap; */
    border: 1px solid black;
    align-items: center;
    flex-direction: column;
    border-radius: 20px; /* Optional. Rounds container corners */
}
/* Close button */
.close {
   color: #aaaaaa;
   float: right; /* Positioned to the right of the parent container whichever size it is */
   font-size: 25px;
   font-weight: bold;
}
.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
 
}


.view{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: var(--secundary);
    left: 0px;
    right: 0px;
    /* overflow: hidden; */

}
.cancel{
    cursor: pointer;
    color: red;

}
.status:hover{
    color: red;
    cursor: pointer;
}
.statusDEL:hover{
    color: green;
    cursor: pointer;
}

.form-bash{
    display: flex;
    width: 70vw;
    padding-top: 20px;
    flex-wrap: wrap;
    height: 75vh;
    max-width: 700px;
    padding: 30px;
    background-color:white;
    box-shadow: 10px 10px 5px  var(--primary);
    justify-content:space-around ;
    overflow: scroll;
}
.textHisto{
    color: #141414;
    font-size:1.2rem;
  }

.bodyview{
    display: flex;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.inputs{

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e5e5e5;
  }
  
  th, td {
    width: 100%;
    text-align: left;
    padding: 8px;
    cursor: pointer;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #CD853F;
    color: white;
  }




@media screen and (max-width: 800px) {
    .form-bash{
        width: 80vw;
        height: 80vh;
    } 


}



@media screen and (max-width: 520px) {
    .form-bash{
        width: 90vw;
        height: 80vh;
    } 

    .modal-content {
        width: 90%; 
    }

  
}


