.viewForm{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: var(--secundary);
    left: 0px;
    right: 0px;
}

.floatbutton{
    display: flex;
     width: 4rem;
     height: 4rem;
     border-radius:100%;
     background-color:  var(--zero);
     position: absolute;
     top: 85vh;
     left: 90vw;
     box-shadow: 5px 5px 5px  var(--primary);
     align-items: center;
     justify-content:center ;
}

.floatbutton:hover{
 background-color:   var(--primary);
}
