.viewForm{
    width: 100vw;
    min-height: 100vh;
    max-height: unset;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: #F4A460;
    left: 0px;
    right: 0px;
    overflow: hidden;

}

.floatbutton{
    display: flex;
     width: 4rem;
     height: 4rem;
     border-radius:100%;
     background-color:  #A0522D;
     position: absolute;
     top: 85vh;
     left: 90vw;
     box-shadow: 5px 5px 5px  #CD853F;
     align-items: center;
     justify-content:center ;
}

.floatbutton:hover{
 background-color:  #CD853F;
}
