*{
    padding: 0;
    margin: 0;
}

.view{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    background-color: #F4A460;
    left: 0px;
    right: 0px;
    /* overflow: hidden; */

}

.form-view{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    max-height: auto;
    align-items: center;
    justify-content:center;
    justify-items: center;
    overflow-y: scroll;

}




.form-bash{
    display: flex;
    width: 70vw;
    padding-top: 20px;
    flex-wrap: wrap;
    height: 70vh;
    max-width: 700px;
    padding: 30px;
    background-color:white;
    box-shadow: 10px 10px 5px  #CD853F;
    align-items: center;
    justify-content:center ;
}
/* 
.view-rast{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-around;
} */
.bodyview{
    display: flex;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.form-view-bash{
    display: flex;
    width: 100%;
    min-height: 155vh;
    flex-wrap: wrap;
    max-height: auto;
    align-items:center;
    justify-content:center;
    overflow-y: scroll;


}
.center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center ;
    justify-items: center;
}

.inputr{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputrs{
    display: flex;
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: flex;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



table {
    border-collapse: collapse;
    background-color: #e5e5e5;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #CD853F;
    color: white;
  }

  .floatbutton{
       display: flex;
        width: 4rem;
        height: 4rem;
        border-radius:100%;
        background-color:  #A0522D;
        position: absolute;
        top: 85vh;
        left: 90vw;
        box-shadow: 5px 5px 5px  #CD853F;
        align-items: center;
        justify-content:center ;
  }

  .floatbutton:hover{
    background-color:  #CD853F;
  }

  .floatbutton-certi{
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius:100%;
    background-color:  #4CAF50;
    position: absolute;
    top: 70vh;
    left: 90vw;
    box-shadow: 5px 5px 5px  #CD853F;
    align-items: center;
    justify-content:center ;
  }

  .floatbutton-certi:hover{
    background-color:   #45a049;
  }

  .viewLabel2{
    display: flex;
    height: 100%;
    width: 38%;
    padding: none;
    flex-direction: column;
}
.inputreal2{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.inputss{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.labelss{
    width: 10%;
    padding: 2%;
}
.inputs{

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.viewLabel4{
    display: flex;
    width: 80%;

    padding: none;
    flex-direction: column;
}


@media screen and (max-width: 800px) {
    .form-bash{
        width: 80vw;
        height: 75vh;
    } 

}
@media screen and (max-width: 520px) {
    .form-bash{
        width: 90vw;
        height: 100vh;
    } 
    .form-view-bash{
        min-height: 150vh;
    }
.floatbutton{
        top: 85vh;
        left: 80vw;
        width: 3.5rem;
        height: 3.5rem;
  }
  .view-rast{
      height: 140px;

  }
  
  .floatbutton-certi{
    top: 70vh;
    left: 80vw;
    width: 3.5rem;
    height: 3.5rem;
}

.floatbutton-certi{

    top: 75vh;
  }
}


@media screen and (max-width: 300px) {
    .form-view-bash{
        min-height: 200vh;
    }
}